@model PagedList.PagedList<ElectroWeb.Models.EntityFramework.Product>
@using PagedList.Mvc;
@using PagedList;
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Tất cả</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Phân loại</h3>
                    <ul class="sidebar_categories">
                        @Html.Action("MenuLeft", "Menu")
                    </ul>

                </div>
               
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Giá tiền <small>(Triệu VND)</small></h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Bán chạy nhất</h3>
                    @Html.Action("AllProductItemsSale", "Product", new { top = 0 })
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    <!-- product -->

                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            var strImage = "";
                            var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                            if (img != null)
                            {
                                strImage = img.Image;
                            }
                            <!-- product -->
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="@strImage" alt="@item.Name">
                                        <div class="product-label">
                                            @if (item.PriceSale > 0)
                                            {
                                                //<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                                <span class="sale">SALE</span>
                                            }
                                            @{
                                                DateTime currentDate = item.CreateDate;
                                                DateTime compareDate = DateTime.Now.AddDays(-30);
                                            }
                                            @if (currentDate > compareDate)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@item.ProductCategory.Title</p>
                                        <h3 class="product-name"><a href="/chi-tiet-san-pham/@item.Alias-prod@(item.Id)">@item.Name</a></h3>
                                        <h4 class="product-price">
                                            @if (item.PriceSale > 0)
                                            {
                                                @ElectroWeb.Models.Common.FomatPath.FormatNumber(item.PriceSale, 0) <del class="product-old-price">@ElectroWeb.Models.Common.FomatPath.FormatNumber(item.Price, 0)</del>
                                            }
                                            else
                                            {
                                                @ElectroWeb.Models.Common.FomatPath.FormatNumber(item.Price, 0)
                                            }
                                        </h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist">
                                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn btnAddToCart" data-id="@item.Id">
                                            <i class="fa fa-shopping-cart"></i> thêm vào giỏ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-sm visible-xs"></div>
                            <!-- /product -->
                        }
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Hiển thị 20-100 sản phẩm</span>
                    @*<ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>*@
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                    {
                        UlElementClasses = new string[] {"store-pagination" }
                    })
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script>

</script>