@model IEnumerable<ElectroWeb.Models.EntityFramework.ProductImage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutEmpty.cshtml";
}

<style>
    .glImage {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        .glImage li {
            /*flex-direction:*/
            display: inline-block;
            position: relative;
        }

    .box-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
</style>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <!--<div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button type="button" class="btn btn-danger deleteAll" title="Collapse">
                    Xóa hết
                </button>
                <input type="button" value="Tải ảnh" class="btn btn-success" onclick="BrowseServer('txtImage');" />
            </div>
        </div>
        <div class="card-body">
            <ul class="glImage">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li id="trow_@item.Id">
                            <img src="@item.Image" width="200" />
                            <div class="box-btn">
                                <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                                @if (item.IsDefault)
                                {
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-success btnDefault"><i class="fa fa-check"></i></a>
                                }
                                else
                                {
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-warning btnDefault">X</a>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>-->
    <!-- /.card-body -->
    <!--<div class="card-footer">

    </div>-->
    <!-- /.card-footer-->
    <!--</div>-->
    <!-- /.card -->

    <div id="timeline">
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-danger deleteAll" title="Collapse">
                    Xóa hết
                </button>
                <input type="button" class="btn btn-success AddImage" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
            </div>
            <div class="col-md-12">
                <table class="table table-hover" id="tbAnhSanPham">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Ảnh</th>
                            <th class="text-center">Ảnh đại diện</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="tbHtml">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <tr id="trow_@item.Id">
                                    <td class="text-center">@item.Id</td>
                                    <td class="text-center"><img width="200" src="@item.Image" /></td>
                                        @if (item.IsDefault)
                                        {
                                            <td class="text-center"><input type="radio" data-id="@item.Id" name="rDefault" value="@item.IsDefault" checked="checked" /></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><input type="radio" data-id="@item.Id" name="rDefault" value="@item.IsDefault" /></td>
                                        }
                                    
                                    <td class="text-center"><a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <input type="hidden" id="tCurrentId" value="0" />
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<script>
    function BrowseServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            AddImage(@ViewBag.productId, fileUrl);
        };
        finder.popup();
    }
    function AddImage(id, url) {
        $.ajax({
            url: '/admin/productimage/AddImage',
            type: 'POST',
            data: { productId: id, url: url },
            success: function (rs) {
                if (rs.Success) {
                    window.location.reload();
                }
            }
        });
    }
    //function addImageProduct(id, url) {
    //    var temp = $('#tCurrentId').val();
    //    var currentId = parseInt(temp) + 1;
    //    var str = "";
    //    if (currentId == 1) {
    //        str += `<tr id="trow_${currentId}">
    //                            <td class="text-center">${currentId}</td>
    //                            <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Images"/></td>
    //                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" checked="checked"/></td>
    //                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
    //                            </tr>`;
    //    }
    //    else {
    //        str += `<tr id="trow_${currentId}">
    //                            <td class="text-center">${currentId}</td>
    //                            <td class="text-center"><img width="80" src="${url}" /> <input type='hidden' value="${url}" name="Images"/></td>
    //                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}"/></td>
    //                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
    //                            </tr>`;
    //    }
    //    $('#tbHtml').append(str);
    //    $('#tCurrentId').val(currentId);
    //}
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data('id');
            var conf = confirm('Bạn muốn xóa ảnh này không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                });
            }
        });
        $('body').on('click', '.deleteAll', function () {
            var conf = confirm('Bạn chắc chắn muốn xóa tất cả ảnh của sản phẩm này?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/deleteAll',
                    type: 'POST',
                    success: function (rs) {
                        if (rs.success) {
                            location.reload();
                        }
                    }
                });
            }
        });
        $('input[name=rDefault]').change(function () {
            debugger;
            var btn = $(this);
            var id = btn.data("id"); // Lấy id của bản ghi tương ứng
            var value = $('input[name=rDefault]:checked').val();
            $.ajax({
                type: 'POST',
                url: '/admin/productimage/DefaultImage',
                data: { id: id},
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }
                }
            });
        });
        //$('body').on('click', '.btnDefault', function (e) {
        //    e.preventDefault();
        //    var btn = $(this);
        //    var id = btn.data("id");
        //    $.ajax({
        //        url: '/admin/productimage/defaultImage',
        //        type: 'POST',
        //        data: { id: id },
        //        success: function (rs) {
        //            if (rs.success) {
        //                if (rs.IsDefault) {
        //                    btn.html("<i class='fa fa-check text-success'></i>");
        //                } else {
        //                    btn.html("<i class='fas fa-times text-danger'></i>");
        //                }
        //            }

        //        }
        //    });
        //});
    });
</script>

